@if (controls?.errors && controls?.touched) {
<div
  class="flex mt-1 p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
  role="alert"
>
  <ul class="mt-1.5 list-disc list-inside">
    @if (controls?.getError('required')) {
    <li>Input is required</li>
    } @if (controls?.getError('minlength')) {
    <li>Min character is 2</li>
    } @if (controls?.getError('maxlength')) {
    <li>Max character is 20</li>
    } @if (controls?.getError('email')) {
    <li>Invalid Email</li>
    } @if (controls?.getError('pattern')) {
    <li>Invalid Password</li>
    } @if (controls?.getError('misMatch')) {
    <li>Password and rePassword should match</li>
    }
  </ul>
</div>
}
