<section
  class="my-10 shadow border border-gray-100 p-10 rounded-4xl container mx-auto"
>
  <div class="max-w-3xl mx-auto">
    <h1 class="text-3xl mb-7">Register Now :</h1>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="relative z-0 w-full mb-5 group">
        <input
          type="text"
          formControlName="name"
          name="name"
          id="name"
          class="block py-2.5 px-0 w-full text-sm text-gray-600 bg-transparent border-0 border-b-2 border-gray-400 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-main focus:outline-none focus:ring-0 focus:border-main peer"
          placeholder=" "
          required
        />
        <validation-messages [controls]="registerForm.get('name')" />
        <label
          for="name"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-main peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >User Name..</label
        >
      </div>
      <!--             1 -->
      <div class="relative z-0 w-full mb-5 group">
        <input
          type="email"
          name="email"
          formControlName="email"
          id="email"
          class="block py-2.5 px-0 w-full text-sm text-gray-600 bg-transparent border-0 border-b-2 border-gray-400 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-main focus:outline-none focus:ring-0 focus:border-main peer"
          placeholder=" "
          required
        />
        <validation-messages [controls]="registerForm.get('email')" />
        <label
          for="email"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-main peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >User email..</label
        >
      </div>
      <!--             2 -->
      <div class="relative z-0 w-full mb-5 group">
        <input
          type="password"
          name="password"
          formControlName="password"
          id="password"
          class="block py-2.5 px-0 w-full text-sm text-gray-600 bg-transparent border-0 border-b-2 border-gray-400 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-main focus:outline-none focus:ring-0 focus:border-main peer"
          placeholder=" "
          required
        />
        <validation-messages [controls]="registerForm.get('password')" />
        <label
          for="password"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-main peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >User password..</label
        >
      </div>
      <!--             3 -->
      <div class="relative z-0 w-full mb-5 group">
        <input
          type="password"
          name="rePassword"
          formControlName="rePassword"
          id="rePassword"
          class="block py-2.5 px-0 w-full text-sm text-gray-600 bg-transparent border-0 border-b-2 border-gray-400 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-main focus:outline-none focus:ring-0 focus:border-main peer"
          placeholder=" "
          required
        />
        @if (registerForm.getError('misMatch') &&
        registerForm.get('rePassword')?.touched) {
        <div
          class="flex mt-1 p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <ul class="mt-1.5 list-disc list-inside">
            <li>password do not match</li>
          </ul>
        </div>
        }

        <label
          for="rePassword"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-main peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Re Password..</label
        >
      </div>
      <button
      [disabled]="!isLoding"
        type="submit"
        class="text-white bg-main focus:ring-4 focus:outline-none focus:ring-main font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:focus:ring-blue-800"
      >
        @if (isLoding) { Submit}@else { <i class="fa fa-spin fa-spinner"></i> }
      </button>
      @if (resMsg) {
      <div
        class="flex my-4 p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <h3>{{ resMsg }}</h3>
      </div>
      }
    </form>
  </div>
</section>
