<div class="flex bg-white shadow-md rounded-lg p-4 gap-4 border border-gray-200 hover:shadow-lg transition">
    <div class="w-50  flex-shrink-0">
      <img [src]="data.imageCover" alt="{{ data.title }}" class="w-full h-full object-contain rounded-md">
    </div>
  
    <div class="flex-1">
      <h2 class="text-lg font-semibold text-gray-800 ">
        {{ data.title.split(" ").splice(0, 2).join(" ")  }}
      </h2>
    
  
      <div class="flex items-center mt-2">
        <span class="text-[var(--color-rating)] font-semibold text-sm">
          <i class="fa fa-star mx-1"></i>{{ data.ratingsAverage }}
        </span>
        <span class="text-gray-600 text-sm ml-1">({{ data.ratingsQuantity }} reviews)</span>
      </div>
  
      <div class="text-xl font-bold text-[var(--color-main)] mt-2">
        ${{ data.price }}
      </div>
  
      <div class="flex   flex-col gap-y-3 mt-3">
        <button (click)="addtocart()" class="border border-main p-2  cursor-pointer rounded-md bg-main  text-white hover:bg-green-700 transition">
          Add to Cart <i class="fa fa-cart-shopping"></i>
        </button>
        <button (click)="onRemove()" class="bg-red-700 text-white p-2  cursor-pointer  rounded-md hover:bg-red-900 transition">
          Remove <i class="fa fa-trash"></i>
        </button>
    
      </div>
    </div>
  </div>
  